<?xml version="1.0" encoding="UTF-8" ?>
<web-app
		version="2.4"
		xmlns="http://java.sun.com/xml/ns/j2ee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
        http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd
    ">
    
		<display-name>website demo</display-name>
		<!-- 加载后台配置文件 -->
	    <context-param>
		    <param-name>contextConfigLocation</param-name>
		    <param-value> 
			  	classpath:/conf/*.xml
			</param-value>
	    </context-param>
	    
		<listener>
			<listener-class>
				org.springframework.web.context.ContextLoaderListener
			</listener-class>
		</listener>
		<!-- 添加页面监听器 -->
		<listener>
				<listener-class>com.inspur.hsf.config.ContextLoaderListener
				</listener-class>
		</listener>
		<!-- 安全检测过滤器 -->
		<filter>
				<filter-name>securityFilter</filter-name>
				<filter-class>org.loushang.internet.filter.SecurityFilter
				</filter-class>
				<init-param>
						<param-name>encode</param-name>
						<param-value>UTF-8</param-value>
				</init-param>
				<init-param>
						<param-name>fromEncode</param-name>
						<param-value>UTF-8</param-value>
				</init-param>
		</filter>
		<!-- 登录过滤器 -->
		<!-- 主题设置过滤器 -->
		<filter>
				<filter-name>themeBindingFilter</filter-name>
				<filter-class>org.loushang.internet.filter.ThemeBindingFilter
				</filter-class>
				<init-param>
						<param-name>excludes</param-name>
						<param-value>*.jpg,*.css,*.html,*.jsp,*.png,*.js,*.gif,*.swf,*.ico</param-value>
				</init-param>
				<init-param>
						<param-name>encode</param-name>
						<param-value>UTF-8</param-value>
				</init-param>
				<init-param>
						<param-name>fromEncode</param-name>
						<param-value>UTF-8</param-value>
				</init-param>
		</filter>
		<filter-mapping>
				<filter-name>themeBindingFilter</filter-name>
				<url-pattern>/*</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>INCLUDE</dispatcher>
		</filter-mapping>
		<!-- 2、 添加请求分发过滤器 -->
		<filter>
				<filter-name>webDispatcher</filter-name>
				<filter-class>org.loushang.internet.servlet.WebDispatcherFilter
				</filter-class>
				<init-param>
						<param-name>excludes</param-name>
						<param-value></param-value>
				</init-param>
				<init-param>
						<param-name>encode</param-name>
						<param-value>UTF-8</param-value>
				</init-param>
				<init-param>
						<param-name>fromEncode</param-name>
						<param-value>UTF-8</param-value>
				</init-param>
		</filter>
		<filter-mapping>
				<filter-name>webDispatcher</filter-name>
				<url-pattern>/*</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>INCLUDE</dispatcher>
		</filter-mapping>
		<filter-mapping>
				<filter-name>securityFilter</filter-name>
				<url-pattern>/*</url-pattern>
		</filter-mapping>
		<!-- 添加自定义标签库 -->
		<jsp-config>
				<taglib>
						<taglib-uri>/tags/website</taglib-uri>
						<taglib-location>/WEB-INF/tlds/website.tld</taglib-location>
				</taglib>
				<taglib>
						<taglib-uri>/tags/website-function</taglib-uri>
						<taglib-location>/WEB-INF/tlds/function.tld</taglib-location>
				</taglib>
				<taglib>
						<taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
						<taglib-location>/WEB-INF/tlds/fn.tld</taglib-location>
				</taglib>
				<taglib>
						<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
						<taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
				</taglib>
		</jsp-config>
		
	<!-- webAppRoot -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>websiteDemo.root </param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>websiteDemo/index.htm</welcome-file>
	</welcome-file-list>
</web-app>